/* --- Benefits --- */

@import '/src/styles/resources/';

.wrapper {
    padding: 120px 0;
}

.title {
    font-family: $secondary-font-family;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;

    @include tablet {
        font-size: 44px;
    }

    @include phablet {
        font-size: 32px;
    }
}

.description {
    margin-bottom: 40px;
    max-width: 810px;
    opacity: 0.7;
}

.list {
    @include wrap(30px, row, wrap);

    justify-content: space-between;
}

.item {
    width: 390px;
    padding: 20px;
    border: 1px solid $accent;
    font-size: 16px;

    @include desktop {
        width: 31%;
    }

    @include tablet-large {
        width: 47%;
    }

    @include tablet {
        width: 100%;
    }
}

.itemText {
    margin-top: 10px;
    opacity: 0.7;
}