/* ---- Variables ---- */
/* -- Colors -- */
$black: #000000;
$white: #FFFFFF;
$accent: #173209;
$light-green:#E0E1D9;
$bg-color: #F6F6F4;

/* -- Typography -- */
$main-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Lobster', cursive;
$font-size: 20px;
$font-weight: 400;
$font-color: $black;

/* -- Transition -- */
$transition-property: all;
$transition-delay: .2s;
$transition-timing: ease;


/* -- Media Query Breakpoints -- */
$phone: 480px;
$phablet: 576px;
$tablet: 768px;
$tablet-large: 992px;
$laptop: 1200px;
$desktop: 1400px;
